/* Helvetica Now Display */
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-ThinIta.eot');
    src: local('Helvetica Now Display Thin Ita'), local('HelveticaNowDisplay-ThinIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ThinIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ThinIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ThinIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-Light.eot');
    src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Light.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-BoldIta.eot');
    src: local('Helvetica Now Display Bold Ita'), local('HelveticaNowDisplay-BoldIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-BoldIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-RegIta.eot');
    src: local('Helvetica Now Display Reg Ita'), local('HelveticaNowDisplay-RegIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-RegIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-RegIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-RegIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-RegIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLtIta.eot');
    src: local('Helvetica Now Display ExtLt Ita'), local('HelveticaNowDisplay-ExtLtIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLtIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLtIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLtIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-MedIta.eot');
    src: local('Helvetica Now Display Med Ita'), local('HelveticaNowDisplay-MedIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-MedIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-MedIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-MedIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLt.eot');
    src: local('Helvetica Now Display ExtLt'), local('HelveticaNowDisplay-ExtLt'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLt.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlk.eot');
    src: local('Helvetica Now Display ExtBlk'), local('HelveticaNowDisplay-ExtBlk'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlk.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlk.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-Bold.eot');
    src: local('Helvetica Now Display Bold'), local('HelveticaNowDisplay-Bold'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBdIta.eot');
    src: local('Helvetica Now Display ExtBd Ita'), local('HelveticaNowDisplay-ExtBdIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBdIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBdIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBdIta.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-Regular.eot');
    src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Regular.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlkIta.eot');
    src: local('Helvetica Now Display ExBlk It'), local('HelveticaNowDisplay-ExtBlkIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlkIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlkIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtBlkIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-Thin.eot');
    src: local('Helvetica Now Display Thin'), local('HelveticaNowDisplay-Thin'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Thin.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Thin.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-LightIta.eot');
    src: local('Helvetica Now Display Light Ita'), local('HelveticaNowDisplay-LightIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-LightIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-LightIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-LightIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtraBold.eot');
    src: local('Helvetica Now Display ExtBd'), local('HelveticaNowDisplay-ExtraBold'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-Medium.eot');
    src: local('Helvetica Now Display Medium'), local('HelveticaNowDisplay-Medium'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Medium.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-HairlineI.eot');
    src: local('Helvetica Now Display Hairline'), local('HelveticaNowDisplay-HairlineI'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-HairlineI.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-HairlineI.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-HairlineI.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-HairlineI.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-BlackIta.eot');
    src: local('Helvetica Now Display Black Ita'), local('HelveticaNowDisplay-BlackIta'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-BlackIta.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-BlackIta.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-BlackIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-Black.eot');
    src: local('Helvetica Now Display Black'), local('HelveticaNowDisplay-Black'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Black.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/Helvetica-font/HelveticaNowDisplay-Hairline.eot');
    src: local('Helvetica Now Display Hairline'), local('HelveticaNowDisplay-Hairline'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Hairline.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Hairline.woff2') format('woff2'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Hairline.woff') format('woff'),
        url('/fonts/Helvetica-font/HelveticaNowDisplay-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



/* 한글폰트 */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../fonts/pretendard/Pretendard-Black.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/pretendard/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/pretendard/Pretendard-Bold.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../fonts/pretendard/Pretendard-SemiBold.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../fonts/pretendard/Pretendard-Medium.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/pretendard/Pretendard-Regular.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../fonts/pretendard/Pretendard-Light.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../fonts/pretendard/Pretendard-ExtraLight.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../fonts/pretendard/Pretendard-Thin.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Thin.woff) format('woff');
}


/* en7 metropolis-font */
@font-face {
    font-family: 'genera-font';
    src:url('../fonts/genera-font/GeneraAltLight-ALEGD.otf') format('opentype'),
        url('../fonts/genera-font/GeneraAltLight-ALEGD.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'genera-font';
    src:url('../fonts/genera-font/GeneraSemibold-qZmod.otf') format('opentype'),
        url('../fonts/genera-font/GeneraSemibold-qZmod.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
