@charset "utf-8";
.en{ font-family: 'Helvetica Now Display'; font-weight: 400;}
.inner{padding: 0 60px; box-sizing: border-box; max-width: 1280px; width: 100%; margin: 0 auto;}
.list-dot li{padding-left: 10px; box-sizing: border-box;position: relative;}
.list-dot li::before{
    content: "";
    position: absolute;
    display: block;
    border: 1.6px solid #d499b9;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0.6;
    left: 0;
    top: 10px;
}

.sub-wrap .pc{display: block;}
.sub-wrap .mobile{display: none;}





/* =======================================================
    서브페이지 header
========================================================*/
.sub-wrap header{width: 100%; height: 50px; position: fixed; top: 0; left: 0; background-color: #fff; z-index: 100;}
.sub-wrap header .inner{display: flex; justify-content: space-between; align-items: center;}
.sub-home{display: flex; align-items: center;}
.sub-home svg{fill: #d499b9;}


/* =======================================================
    버튼
========================================================*/
.btn-back{padding: 60px 0;}
.btn-back button{
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background-color: #d499b9;
    display: block;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

footer{    
    padding: 60px 0;
    box-sizing: border-box;
    background: #000;
    font-size: 12px;
    color: #999999;
    text-align: center;
}

@media (max-width:1024px){
    .inner{padding: 0 30px;}
}

@media (max-width:768px){
    .sub-wrap header{height: 50px;}
    .sub-wrap .menu ul li{margin-right: 20px;}
    .sub-wrap .menu ul li svg{width: 26px; height: 26px;}
}


@media (max-width:425px){
    .inner{padding: 0 15px;}
    footer{padding: 40px 0;}
}

/*================================
   서브페이지 
================================ */
.site-name-area{ background-color: #eee; width: 100%; box-sizing: border-box; padding: 30px 0; margin: 50px 0;}
.site-name-area .inner{display: flex; justify-content: space-between; align-items: center;}
.site-img-box{width: 50%;}
.site-img-box .site-img{width: 100%; height: 0; padding-top: 56.25%; position: relative; border-radius: 10px; box-sizing: border-box; overflow: hidden; } 
.site-img-box .site-img img{ width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;}
.site-list{width: 50%; padding-left: 50px;margin-top: 15px; box-sizing: border-box;}
.site-list h2{font-size: 28px; margin-bottom: 30px; font-weight: 700;}
.site-list h2 span{font-size: 24px;}
.site-list > ul > li{display: flex; margin-bottom: 12px; width: 100%;}
.site-list > ul > li:last-child{margin-bottom: 0;}
.site-list-tit{width: 80px; word-break: keep-all; font-weight: 800; color: #222;}
.site-list-txt{display: flex; flex-wrap: wrap; padding-left: 20px;    width: calc(100% - 80px);}
.site-list-txt li{font-size: 16px; margin-right: 16px;}
.site-list-txt li:last-child{margin-right: 0;}
.site-list-txt li a .char{color: transparent; display: inline-block; overflow: hidden; position: relative;}
.site-list-txt li a .char::after,
.site-list-txt li a .char::before{
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.6; */
    color: #222;
    font-weight: 500;
    content: attr(data-char);
    transition-delay: calc(30ms * var(--char-index));
    transition:transform 0.35s;
}
.site-list-txt li a .char::before{transform: translateY(100%);}
.site-list-txt li a:hover .char::before{transform: translateY(0); /* opacity: 1;  */font-weight:bold; color: #d499b9;}
.site-list-txt li a:hover .char::after{transform: translateY(-100%);}

.dcs-area{background-color: #fff;}
.dcs-area .inner{display: flex; justify-content: space-between;}
.dcs-left > ul > li{margin-bottom: 15px;}
.dcs-left > ul > li:last-child{margin-bottom: 0;}
.dcs-left .dsc-tit{font-weight:600;margin-bottom: 5px; font-size: 18px;}
.dcs-left,
.dcs-right{width: 50%;}
.dcs-right{padding-left: 50px; box-sizing: border-box;}
.dcs-right > ul{display: flex; flex-wrap: wrap;}
.dcs-right > ul > li{width: 100%; margin-bottom: 30px;}
.dcs-right > ul > li:nth-child(-n+2){width: 50%;}
.dcs-right > ul > li:last-child{margin-bottom: 0;}
.dsc-q{font-size: 18px; font-weight: 600; margin-bottom: 10px;}
.dsc-a{color: #555;}
.dsc-a ul{display: flex;}
.dsc-a ul li{margin-right: 10px;}
.dsc-a ul li:last-child{margin-right: 0;}

.sub-tit{font-size: 32px; margin-bottom: 40px;}
.design-list ul{display: flex; flex-wrap: wrap;}
.design-list ul li{width: calc((100% - 60px) / 3); margin-right: 30px; margin-bottom: 30px; }
.design-list ul li:nth-child(3n){margin-right: 0;}
.design-list ul li img{width: 100%; height: auto; display: block; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); overflow: hidden; border-radius: 10px; overflow: hidden; }

.site-swiper .swiper-slide img{ width: 100%; box-sizing: border-box; border-radius: 10px;}
.site-swiper.swiper-autoheight,
.site-swiper.swiper-autoheight .swiper-slide{padding-bottom: 20px;}
.site-swiper .swiper-button-next:after,
.site-swiper .swiper-button-prev:after{color: #fff; font-size: 28px;}
.site-swiper .swiper-button-next,
.site-swiper .swiper-button-prev{top: var(--swiper-navigation-top-offset, 43%);}
.site-swiper .swiper-pagination-bullet-active{background-color: #d499b9;}

/* 반응형 */
@media (max-width:1024px){
    .site-list{padding-left: 30px;}
    .site-list h2{font-size: 22px; margin-bottom: 15px;}
    .site-list-txt li{margin-right: 10px;}
    .dcs-right{padding-left: 30px;}
    .design-list ul li{width: calc((100% - 30px) / 3); margin-right: 15px;}
}
@media (max-width:960px){
    .site-list > ul > li,
    .dsc-q,
    .dcs-left .dsc-tit{font-size: inherit;}
    .design-list ul li{ width: calc((100% - 15px) / 2); margin-right: 15px;}
    .design-list ul li:nth-child(3n){margin-right: 15px;}
    .design-list ul li:nth-child(2n){margin-right: 0;}
}
@media (max-width:768px){
    .site-list-q{font-size: 18px;}
    .site-name-area{margin: 50px 0 30px;}
    .site-name-area .inner{flex-direction: column;}
    .site-img-box{width: 100%;}
    .site-list{width: 100%; padding-left: 0; margin-top: 30px;}
    .site-list h2 span{font-size: 18px;}
    .site-list > ul > li{margin-bottom: 10px;}
    .site-list-txt li{line-height: 1.4;}
    .site-list-txt.list-dot li{padding-left: 8px;}
    .site-list-txt.list-dot li::before{top: 10px;}
    .dcs-area .inner{flex-direction: column;}
    .dcs-left, 
    .dcs-right{width: 100%;}
    .dcs-right{ padding-left: 0; margin-top: 30px; border-top: 1px solid #ddd; padding-top: 30px;}
}
@media (max-width:600px){
    .btn-back button{width: 150px; padding: 15px 10px; font-size: 14px;}
    .sub-tit{font-size: 28px;  margin-bottom: 30px;}

    .sub-wrap .pc{display: none;}
    .sub-wrap .mobile{display: block;}}
    
@media (max-width:425px){
    .new-open svg{display: none;}
    .dcs-right > ul > li{margin-bottom: 20px;}
    .dsc-a{font-size: 14px;}
    .dsc-a ul li{margin-right: 8px;}
    .btn-back{padding: 40px 0;}
}
@media (max-width:375px){
    .site-name-area{margin: 50px 0 15px;}
    .dcs-right{padding-top: 15px; margin-top: 15px;}
}

